class i2c_wr_sequencer extends uvm_sequencer #(i2c_seq_item);
    `uvm_component_utils(i2c_wr_sequencer)
    function new(string name="i2c_wr_sequencer", uvm_component parent=null);
        super.new(name, parent);
    endfunction
endclass